@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap');

h1 {
  font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  color: #002139;
}

h2 {
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #002139;
}

p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  text-align: justify;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
